<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Alert Bénin</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1> Job Alert Bénin</h1>
        <p>Recevez les offres d'emploi de votre domaine directement dans votre boîte mail.</p>

        <form action="/subscribe" method="POST">
            <input type="text" name="prenom" placeholder="Votre prénom" required>
            <input type="email" name="email" placeholder="Votre email" required>
            <select name="domaine" required>
                <option value="">--Choisissez votre domaine--</option>
                <option value="enseignant">Education</option>
                <option value="infirmier">Infimérie</option>
                <option value="pharmaceutique">Pharmacie</option>
                <option value="psychologue">Psychologie</option>
                <option value="cuisinier">Hôtellerie & Restauration</option>
                <option value="pâtissier">Pâtisserie</option>
                <option value="agriculture">Agriculture</option>
                <option value="architecte">BTP & Architecture</option>
                <option value="génie civil">Génie Civil</option>
                <option value="électricien">Electricité</option>
                <option value="logistique">Logistique et Transport</option>
                <option value="comptable">Finance & Comptabilité</option>
                <option value="ressources humaines">Ressources humaines</option>
                <option value="commercial">Commerce</option>
                <option value="makerting">Makerting & Communication</option>
                <option value="droit">Droit & Justice</option>
                <option value="sécurité">Administrateur Réseaux & Sécurité</option>
                <option value="community manager">Community Manager</option>
                <option value="graphiste">Graphisme</option>
                <option value="design">Design</option>
                <option value="developer">Informatique</option>
                <option value="ingénieur">Ingénierie</option>
            </select>
            
            <button type="submit">S'inscrire aux alertes</button>
        </form>
    </div>
</body>
</html>